.Detail{
    border: 5px solid #e0bf82;
    background-color: #e0bf8213;
    /* max-height: 85vw; */
}

img{
    max-width: 700px;
    max-height: 700px;
}
h1{
    background-color: #704513b6;
    font-size: 60px;
    font-family: fantasy;
}
p{
    font-size: 40px;
    background-color: #f5deb311;
}
#description{
    text-align: left;
    font-size: 30px;
    background-color: #f5deb338;
}
h3{
    color:aliceblue
}
.videogameName{
    font-size: 50px;
    font-family: fantasy;
}
.details{
    font-size: 35px;
    text-align: left;
}
.detailButton{
    font-size: 20px;
    width: 150px;
}
.detailButton:hover{
    transform: scale(1.15);
}