select{
color: #332202;
background-color: wheat;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
min-width: 200px;
margin: 10px;
border-radius: 10px;
}
select:hover{
    transform: scale(1.05);
}

button{
    height: 25px;
    width: 150px;
    border: 2px solid #332202;
    margin: 5px;
    border-color: #332202;
    background-color: wheat;
    font-size: 1.2em;
    cursor:pointer;
    border-radius: 10px;
}
button:hover{
        transform: scale(1.15);
}
h1{
    background-color: #7e540652;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
}
form{
    border-radius: 10px;
    background-color: #947c117e;
}
.filter{
    background-color: #7e540652;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
}